<div *ngIf="records.length != 0">
  <p>
    <a
      class="btn btn-success"
      data-toggle="collapse"
      href="#collapseExample"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      Top Anagram Searches
    </a>
  </p>
  <div class="collapse border-success mb-3" id="collapseExample">
    <div class="card card-body mb-3">
      <div *ngFor="let record of records; let i = index">
        {{ i + 1 }}.&nbsp;&nbsp;
        <span class="bold">{{ record[0] }} - {{ record[1] }} </span>
        <br />
      </div>
    </div>
  </div>
</div>
<form [formGroup]="dashboardForm" (ngSubmit)="checkAnagram()">
  <div class="form-row mt-5">
    <div class="form-group col-md-6">
      <label>First Word</label>
      <input
        [(ngModel)]="dashboardUserData.firstData"
        formControlName="firstData"
        type="text"
        placeholder="Enter Text"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.firstData.errors }"
        required
      />
      <div *ngIf="submitted && f.firstData.errors" class="text-danger">
        <div *ngIf="f.firstData.errors.required">Text is required</div>
        <div *ngIf="f.firstData.errors.pattern">
          Only aplhabets and spaces allowed
        </div>
        <div *ngIf="f.firstData.errors.maxlength">
          Text cannot be more than 50 characters
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Second Word</label>
      <input
        [(ngModel)]="dashboardUserData.secondData"
        formControlName="secondData"
        placeholder="Enter Text"
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.secondData.errors }"
        required
      />
      <div *ngIf="submitted && f.secondData.errors" class="text-danger">
        <div *ngIf="f.secondData.errors.required">Text is required</div>
        <div *ngIf="f.secondData.errors.pattern">
          Only aplhabets and spaces allowed
        </div>
        <div *ngIf="f.secondData.errors.maxlength">
          Text cannot be more than 50 characters
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary">Check Anagram</button>
</form>
<div *ngIf="result">
  <div
    [ngClass]="
      result.code ? 'mt-5 alert alert-success' : 'mt-5 alert alert-danger'
    "
  >
    Both words are {{ result?.value }}
  </div>
</div>
